.idea
.code
**/vendor/
.pulumi
**/bin/
**/obj/
Pulumi.*.yaml
**/node_modules/
.DS_Store

**/command-output/

.idea/
*.iml
*.sln
.vscode/settings.json

yarn.lock
**/pulumiManifest.go

ci-scripts
provider/**/schema-embed.json
**/version.txt
**/dist
sdk/nodejs/.gitattributes
sdk/nodejs/.gitignore

sdk/python/venv

go.work
go.work.sum

# Ignore local build tracking directory
.make

# Build caches
.cache
.gocache
